html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.App {
  text-align: center;
}

.app-wrapper {}

.header {
  font-size: x-large;
}

.col-wrapper {
  display: flex;

}

.add-col-btn {}